body {font-size:14px; font:normal 18px "Helvetica Neue", Helvetica; padding-top:100px; color:#ddd; background-color:#555;}
a {color:#9df; text-decoration:none;}

footer{margin-top:50px;}

h1{color:#333; font-size:110px; margin:0; text-shadow: 0 2px 3px #5e5e5e;}
h2{font-weight:lighter; font-size:38px; margin:0;}
img {border:0;}

nav {font-size:16px;}
nav ul {list-style-type: none;  padding:0;}
nav li {display:inline; padding:0 20px;}
nav a {text-transform:uppercase; color:#FFF;}

nav, section{margin:0px auto; width:800px;}

table{text-align:center;}
ul {list-style-type:none; padding-left:20px;}


#example {margin:0px auto; width:400px;}
#zoom {color:#555;}

.title {padding: 5px 0 0 0; vertical-align:bottom;}
.image {text-align:center;}
.thumbnail img {border:1px solid #999; padding:5px;}
.center-text {text-align:center;}


