body {font-size:14px; font:lighter 16px/1.5 "Helvetica Neue"; padding-top:50px; color:#333;}
a {color:#3D6EFF; text-decoration:none;}
h2 {margin:5px 0; font-weight:lighter; font-size:38px; line-height:1;}
img {border:0;}
ul {list-style-type:none; padding-left:20px;}
table{text-align:center;}

h3 {font-weight:normal; line-height:1;}
.title {padding: 5px 0 0 0; vertical-align:bottom;}
.image {text-align:center;}

.thumbnail img {border:1px solid #CCC; padding:5px;}

#site {width: 400px; margin: 0 auto;}

#footer {border-top: 1px solid #999; padding: 5px 0; color:#999; font-size:12px;}
#footer .contact {float:left;}
#footer .links{float:right;}