---
layout: examples
title:  Example work
---
<p>Some projects that I've worked on.</p>

<p>Ruby on Rails</p>

<ul>
  {% for post in site.categories.examples-rails reversed %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor%}    
</ul>

<ul>
  <li>I also have some Rails <a href="http://contributors.rubyonrails.org/contributors/andrew-olson/commits">commits</a></li>
</ul>

<p>Other (Java, iOS)</p>
<ul>
  {% for post in site.categories.examples reversed %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor%}  
</ul>