---
layout: examples
title:  Example work
---
<p>Some projects that I've worked on.</p>

<p>Ruby on Rails</p>

<ul id="thumbnails">
  {% for post in site.categories.rails reversed %}
    <li><a href="{{post.url}}"><img src="{{post.thumbnail}}"/><h5>{{post.title}}</h5></a>
    </a></li>
  {% endfor %}
</ul>

<p>I also have some Rails <a href="http://contributors.rubyonrails.org/contributors/andrew-olson/commits">commits</a></p>

<p>Other (Java, iOS)</p>
<ul>
  {% for post in site.categories.examples reversed %}
    <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
</ul>