<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Andrew Olson" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <title>Andrew Olson</title>
  </head>
  <body id="intro">
    <section class="center-text">
      <img src="/images/me.png" class="avatar" />

      <h1>{{ page.title }}</h1>

      {{ content }}
    </section>

    {% include footer.html %}
  </body>
</html>
