<!DOCTYPE html>
<html lang="en">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <meta name="author" content="Andrew Olson" />
     <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
     <title>Andrew Olson</title>
  </head>
  <body id="intro">
    <section class="center-text">
      <img src="https://1.gravatar.com/avatar/42673dacc1678c1b2d51bf0f7d59d3e6?s=220" class="gravatar" />

      <h1>{{ page.title }}</h1>

      {{ content }}
    </section>

    {% include footer.html %}
  </body>
</html>
